* {
    margin: 0;
    padding: 0px;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0px auto;
}

.header {
    height: 100px;
    width: 100%;
    background-color: white;
}
.header h1 {
    text-align: center;
    font-style: italic;
    font-size: 45px;
    color: brown;
    line-height: 100px;
    text-shadow: 10px 10px 10px crimson;
}

.menu {
    height: 50px;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.image {
    height: 25px;
    width: 25px;
    margin-left: 100px;
}
.image img {
    height: 100%;
    width: 100%;
    margin-left: -60px;
}
.menu ul {
    margin-left: -40px;
}
.menu li {
    list-style-type: none;
    float: left;
    line-height: 50px;
    list-style-type: none;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid blue;
}

ul li:first-child{
    border-left: 1px solid blue;
}

.menu li a{
    text-decoration: none;
    color: white;
}
.menu li:hover {
    background-color: brown;
}

.menu .search {
    margin-left: 60px;
}

.menu .search input[type="text"] {
    width: 150px;
}
.menu .search input[type="submit"] {
    width: 40px;
 }
 .menu .search input {
    margin-left: 10px;
}

.content {
    width: 800px;
    height: 720px;
    background-color: white;
}

.content h1 {
    color: brown;
    background-color: lightcoral;
    margin-left: 487px;
    margin-right: -78px;
    margin-top: 10px;
    text-indent: 20px;
    letter-spacing: 12px;
}
.content ul {
    margin-left: 300px;
}
.content ul li a {
    color: red;
}
.content ul li[id="honey"] {
    font-weight: bold;
    color: lightsalmon;
}
.content p a {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

.content .information {
    margin-top: -10px;
    margin-left: 269px;
    width: 850px;
}
.content .information .information1 input {
    margin-top: 20px; 
    width: 393px;
    height: 40px;
}
.content .information input[id="lname"] {
    margin-left: 20px;
}
.content .information input[id="phone"] {
    margin-left: 20px;
}

.content .information .information2 {
    margin-top: 23px;
}
.content .information .information2 select {
    margin-top: -30px; 
    width: 396px;
    height: 40px;
}
.content .information .information2 input[type="radio"] {
    width: 11px;
    height: 11px;
    margin-left: 20px;
}
.content .information .information2 label{
    margin-left: 10px;
}

.content .information textarea {
    width: 814px;
    height: 120px;
    margin-top: 20px;

}
.content .information input {
    margin-top: 10px;
    height: 25px;
}

.aside {
    width: 30%;
    height: 100%;
    background-color: white;
    float: left;
    
}
.aside ul {
    margin-left: 5px;
}

.aside ul li {
    height: 25px;
    border: 1px solid lightcoral;
    border-radius: 15px;
    margin-top: 7px;
    background-color: lightcoral;
    color: white;
    padding-left: 10px;
}
.aside .imageRadius {
    margin-top: 20px;
    margin-left: 10px;
}
.aside .imageRadius img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 10px 10px 10px 1px lightcoral;
}

.section {
    width: 25%;
    height: 650px;
    background-color: black;
    float: right;
    margin-top: -720px;
}
.section .image1 {
    width: 250px;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
}
.section h1, h2{
    color: white
}
.section .image1 p, details p {
    color: white;
}
.section .image1 summary {
    color: lightcoral;
    
}
.section .image2 {
    width: 250px;
    height: 200px;
    margin-top: 80px;
    margin-left: 50px;
}
.section h1, h2{
    color: white
}
.section .image2 p, details p {
    color: white;
}
.section .image2 summary {
    color: lightcoral;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: lightcoral;
    clear: both;
}

.footer address {
   color: white;
   text-align: center;
   line-height: 90px;
   font-size: 35px;
}